fastapi
uvicorn
SpeechRecognition
nltk
nest_asyncio
pydub
g4f
pymongo==3.12.0
dnspython
sqlalchemy
oauthlib
mysql-connector-python
# tenha instalado na maquina o ffmpeg
# source venv/Scripts/activate
# uvicorn main:app --host 0.0.0.0 --port 8000
# ngrok http 8000